<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        All of your polls.
        <% for (let p of polles) { %>
            console.log(p)
            <li class="list-group-item">
                <a href="/polls/<%= p._id %>">
                    <%= p.title %>
                </a>
            </li>
        <% } %>
    </ul>
</body>
</html>